mixin modal(title, closeable)
  div.modal(
    (click)="onContainerClicked($event)", 
    tabindex="-1",
    [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}"
  ) 
    div.modal-body
      if(closeable)
        a.close((click)="hide()"): i.la.la-times
      if(title)
        div.modal-header
          h2= title
      div.modal-content
        block