form{
	label{
		margin: 10px 0;
		font-size: 14px;
		color: #777;

		span{
			display: block;
			margin-top: 5px;
			font-size: 18px;
			color:#000;
		}

		.add-nums-wrapper{
			margin-top: 5px;

			input{
				padding: 9px;
				max-width: 25px;
				margin-bottom: 0px;
				border-radius: 0px
			}

			button{
				margin:0px;
				padding: 10.5px 14px;

				&:first-child{
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
				}

				&:last-child{
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;
				}
			}
		}
	}

	div.foot{
		justify-content:flex-end;

		& > :last-child{
			margin-left: 10px;
		}
	}
}