include ../../../../modals/modal.component.pug

+modal('Modificar reserva', true)
	form.form(*ngIf="reserve")
		label 
			|Restaurante: 
			<span>{{reserve.restaurant.name}}</span>
		label 
			|Fecha: 
			span {{reserve.date | amDateFormat:'DD/MM/YYYY'}}
		label
			|Hora: 
			span {{reserve.date | amDateFormat:'HH:mm'}}
		label
			|Número de personas: 
			.add-nums-wrapper
				button.button.grey.small((click)="add_num_pers = add_num_pers-1", [disabled]="add_num_pers <= -5 || reserve.num_pers + add_num_pers <= 1") -
				input(type="text", name="num_pers", value="{{reserve.num_pers + add_num_pers}}", readonly)
				button.button.grey.small((click)="add_num_pers = add_num_pers+1", [disabled]="add_num_pers >= 5 || reserve.num_pers + add_num_pers >= 15") +
		div.foot
			button.button.white((click)="hide()") Cancelar
			button.button((click)="edit()", [disabled]="add_num_pers == 0") Guardar