h2 Descubrir
.card-grid
	a(*ngFor="let restaurant of restaurants", [routerLink]='["/restaurant/"+restaurant.id]')
		.card
			.card-thumbnail([class.image-exists]="restaurant.image", [ngStyle]="{'background-image': (restaurant.image) ? 'url('+restaurant.image.thumb+')': 'none'}")
				.card-right(*ngIf="restaurant.average_price > 0")
					span.price {{restaurant.average_price}}€
			.card-pie
				h3.title.ellipsis {{restaurant.name}}
				p.address.ellipsis {{restaurant.address}}
			.card-content.flexy
				font.small.italic.ellipsis {{restaurant.type}}
				.stars
					i.la.la-star(*ngFor="let i of restaurant.rate | fill")
					i.la.la-star-half-o(*ngIf="restaurant.rate%1 > 0")
					i.la.la-star-o(*ngFor="let i of 5-restaurant.rate | fill")
p.none-found(*ngIf="restaurants.length == 0") Ups! Parece que esta ciudad no tiene restaurantes en estos momentos...