h2 Configuración
.subnav
	-
		var menu = [
			{route: "/settings", name: "Perfil", exact: true}, 
			{route: "/settings/account", name: "Cuenta"}//, 
			//{route: "/discover/pubs", name: "Pubs"}
		];
	
	each item in menu
		a(
			[routerLink]=`["${item.route}"]`,
			[routerLinkActive]='["active"]',
			[routerLinkActiveOptions]=item.exact ? "{ exact: true }" : false
		)= item.name

router-outlet