form{
	max-width: 720px;

	.fields{
		display: grid;
		grid-template-columns: calc(50% - 17.5px) calc(50% - 17.5px);
		grid-column-gap: 35px;

		label{ 
			position: relative;
			margin-bottom: 15px;

			& > *{
				display: block;
			}

			& > input, & > .select-wrapper{
				margin-top: 5px;
			}

			& > input{
				width: calc(100% - 25px);
			}

			& > .select-wrapper{
				height: 46px;
				margin-bottom: 10px
			}

			& > .msg{
				width: calc(100% - 21px);
			}
		}
	}
}

@media screen and (max-width: 670px){
	form{
		max-width: 360px;

		.fields{
			display: block;
		}
	}
}