.button{
	padding: 12px;
	font-size: 15px;

	border-radius: 3px;

	background-color: #0d939e;
	border:1px solid #098798;
	color: #fff;

	margin: 5px 0;

	display: inline-flex;
	align-items: baseline;
	cursor: pointer;

	outline: 0;
	white-space: nowrap;
	
	a &:hover{
		opacity: 1;
	}

	&:hover, &:focus{
		opacity: 0.9;
	}

	&.small{
		padding: 5px 10px;
		font-size: 14px;

		& > i{
			font-size: 16px;
		}
	}

	&.large{
		text-transform: uppercase;
		padding: 14px 25px;
	}

	&.big{
		width: 100%;
		margin: 10px 0 5px;
	}

	&.white{
		border:1px solid #dce0e0;
		background-color: #fff;
		color: #484848;

		&:hover{
			opacity:0.85;
		}
	}

	&.grey{
		background-color: #cecece;
		color: #000;
		border: 1px solid #cecece;
	}

	&.success{
		background-color: #0cc829;
		border: 1px solid #3dbf51;
		color: #fff
	}

	&.loading{
		color: transparent;
		cursor: default;
		position: relative;

		&:after{
			content: '...';
			color: #fff;
			position: absolute;
			left: 0;
			top: 50%;
			width: 100%;
			margin-top: -31px;
			font-size: 35px;
		}

		&:hover{
			opacity: 1;
		}
	}

	&.block {
		display: block;
		width: 100%;
	}

	& > i{
		font-size: 20px;
		margin-right: 2px;
	}

	&[disabled]{
		cursor: not-allowed;
		opacity:0.6;
	}
}

a.button{
	position: relative;
	top: -1px;
}