@mixin container{
	background-color: #fff;
	padding: 10px;
	border:1px solid #ccc;
}

section{
	&.background-white{
		@include container;
	}

	&.padding-percent{
		padding:20px 5%;
	}
}

.max-medium{
	max-width: 650px;
}

.columns{
	display: grid;
	grid-gap: 20px;
	position: relative;

	&.col2{
		grid-template-columns: calc(50% - 20px) 50%;
	}
}

@media screen and (max-width: 1024px){
	.columns{
		grid-gap: 10px;

		&.col2{
			grid-template-columns: calc(50% - 10px) 50%;
		}

		&.colm2{
			grid-template-columns: calc(50% - 10px) 50%;
		}

		&.colm1{
			grid-template-columns: 100%;
		}
	}
}

hr{
	border: 1px dotted #ccc;
}

.tag {
	padding: 10px;
	font-size: 16px;
	background-color: #eee;
	margin: 0 10px 5px 0;
	border-radius: 2px;
	display: inline-block;

	&[disabled]{
		opacity: 0.4;
		cursor: default;
		color: #000;

		&:hover{
			opacity: 0.4;
		}
	}
}

.none-found{
	margin: 5px 0;
	font-size: 14px;
	color: #777;
	font-weight: 100
}