.msg{
	margin: 10px 0;
	padding: 12px;
	font-size: 16px;
	line-height: 1.4;
	border: 1px solid;

	&:before{
		margin-right: 6px;
		font: normal normal normal 16px/1 LineAwesome;
		font-size: inherit;
		text-rendering: optimizeLegibility;
		text-transform: none;
		-moz-osx-font-smoothing: grayscale;

		position: relative;
		top: -1px;
		vertical-align: middle;
	}

	&.error{
		background-color: #FFBABA;
		color: #9B0810;
		border-color: #f19da1;

		&:before{
			content: "\f343";
		}
	}

	&.success{
		color: #4F8A10;
		background-color: #DFF2BF;
		border-color: #c1ea95;

		&:before{
			content: "\f17c";
		}
	}

	&.info{
		color: #00529B;
		background-color: #BDE5F8;
		border-color: #aaceef;

		&:before{
			content: "\f24a";
		}
	}

	&.warn{
		color: #B18F18;
		background-color: #F9F9E0;
		border-color: #F0E79C;

		&:before{
			content: "\f376";
		}
	}
}

p.info, font.info{
	font-size: 14px;
	color: #777;
}

.form-radio, .form-checkbox{
	padding: 5px 0 10px;

	.magic-checkbox:checked + label::before, .magic-radio:checked + label::before{
		border: 1px solid #0d939E;
	}

	.magic-checkbox + label, .magic-radio + label{
		display: inline-block;
		padding-left: 24px;
		margin-right: 10px;

		&:before{
			top: -3px;
			width: 15px;
			height: 15px;
		}

		&:after{
			top: 2.95px;
			left: 6px;
			background: #0d939E;
			width: 6px;
			height: 6px;
		}
	}
}

.form{
	position: relative;

	& > * {
		display: block;
		width: 100%;
	}

	& > h5{
		font-weight: 100;
		margin: 10px 0;
	}

	& > input{
		width: calc(100% - 25px);
	}

	&.error .magic-checkbox:invalid + label::before, &.error .magic-radio:invalid + label::before{
		border: 1px solid #e6070766;
	}

	.form-field{
		position: relative;

		& > label > input:not([type="checkbox"]):not([type="radio"]), & > label > textarea{
			display: block;
			width: calc(100% - 30px);
		}

		& > .msg {
			font-size: 12px;
			display: block;
			margin: 0;
			margin-top: 0px;
			margin-top: -10px;
			padding: 10px;
			word-wrap: break-word;
			width: calc(100% - 26px);

			&:before{
				display: none;
			}
		}
	}

	& > .foot{
		display: flex;
		align-items: center;
		
		& > :last-child{
			margin-left: auto;
		}
	}
}

input[type="text"], input[type="search"], input[type="email"], input[type="password"], input[type="number"], textarea{
	border: 0;
	font-size: 16px;
	outline:0;
	-webkit-appearance: none;
	
	padding: 12px;
	border: 1px solid #ddd;
	background-color: #fcfcfc;
	color: #333333;

	border-radius: 2px;
	margin-bottom: 10px;

	&:focus, &.active{
		border-color: #bbb;
	}

	&.error, form.error > &:invalid, &.ng-invalid.ng-touched {
		border-color: #e6070766;
	}

	&[disabled] {
		opacity: 0.7;
	}
}

.select-wrapper{
	border-radius: 2px;
	text-align: center;
	
	position: relative;
	
	&.clear{
		color:#fff;

		select{
			color:#fff; 

			&:-moz-focusring {
				text-shadow: 0 0 0 #fff;
			}
		}

		&:before{
			top: 12px;
		}
	}

	&:not(.clear){
		background-color: #fff;

		select{
			border: 1px solid #ddd;
			width: 100%;
			height: 100%;
		}
	}

	select{
		padding: 10px;
		font-size: 14px;
		border:0px;
		padding-right: 30px !important;
		background: none;

		&:focus{
			outline:none;
			border-color: #bbb;
		}

		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}

		appearance:none;
		-moz-appearance:none;
		-webkit-appearance:none;
	}

	&:before{
		content: "\f165";
		font: normal normal normal 16px/1 LineAwesome;
		font-size: inherit;
		text-decoration: inherit;
		text-rendering: optimizeLegibility;
		text-transform: none;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		position: absolute;
		right: 10px;
		top: 0px;
		height: 99%;
		display: flex;
		align-items: center;
	}
}