.menu-section{
	border-bottom: 1px dotted #ddd;
	margin-bottom: 15px;

	.menu-section-head h3 {
		display: flex;
		align-items: end;

		i {
			margin-right: 5px;
		}
	}

	.menu-items{
		margin: 10px 0;

		.menu-item {
			display: flex;
			align-items: center;
			margin: 3px 0;

			.menu-item-head p {
				color: #ccc;
				font-weight: 100;
				margin: 8px 0 !important;
				font-size: 14px;
			}

			.menu-item-right {
				margin-left: auto;

				.price {
					font-style: italic;
					font-size: 14px;
					color: #ababab;
					white-space: nowrap;
				}
			}
		}
	}
}