.modal {
	position: fixed;
	top:0;
	left: 0;

	width: 100vw;
	height: 100vh;
	z-index: 99999;

	background-color: rgba(0,0,0,0.85);

	.modal-body{
		position: relative;

		width: -webkit-min-content;
		width: -moz-min-content;
		width: min-content;

		min-width:325px;
		margin: 2% auto;
		padding:15px 20px;

		background-color:#FFF;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);


		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s;

		& > a.close {
			float: right;
			margin-right: -5px;
			margin-top: 5px;
			cursor: pointer;

			i{
				font-size: 16px;
				font-weight: bold;
				color: #838383
			}
		}

		& > .modal-header {
			margin: 0 0 15px;

			h2{
				font-size: 18px;
				font-weight: bold;
			}
		}

		& > .modal-content {
			.line-divisor{
				&:after, &:before{
					content: ' ';
					border-top: 2px solid #DFDFDF;
				}

				margin: 15px 0 10px;
				display: grid;
				grid-template-columns: 1fr auto 1fr;
				align-items: center;
				
				& > *{
					margin: 0px 20px;
					font-size: 14px;
					font-weight: bold;
					color: #576265;
				}
			}

			.foot > a:not(.button){
				font-size: 16px;
				color: #146674;
			}
		}
	}
}

@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@media screen and (max-width:670px){
	.modal{
		.modal-body{
			min-width: 0;
			max-width:325px;
			width: calc(100vw - 85px);
			margin: 5% auto;
		}
	}
}