$primaryColor: #1c7f8f;

@import 'modal';
@import 'input';
@import 'button';
@import 'card';
@import 'container';
@import 'menu';

[hidden]{
	display: none;
}

.la{
	font-size: 28px;
}

.no-desktop{
	display: none !important;
}

body{	
	margin: 0;
	background-color:#efefef;	
	font-family: Helvetica, Arial
}

h1, h2, h3, h4{
	font-weight: 100;
	margin: 5px 0;
}

h5{
	margin: 5px 0;
}

.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

.spinner{
	border: 4px solid #d4d4d4;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #f3f3f3;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	border-top: 4px solid #989898;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.center{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	display: block;
}

header{
	width: 100%;

	background-color: #142635;
	padding: 10px 0;
	min-height: 30px;
	display: flex;

	.center{
		display: flex;
		align-items:center;

		.logo{
			display: flex;
			align-items: center;

			img{
				width: 25px;
				height: 25px;
				margin-right: 5px;
			}

			span.name{
				position: relative;
				top: 2px;
				font-size: 16px;
				color: #ccc;
			}
		}

		& > .right{
			margin-left: auto;
			display: flex;
			align-items: center;

			& > *{
				margin-left: 10px;
			}

			& > a{
				font-size: 14px;
			}

			.button{
				margin-top:0;
				margin-bottom: 0;
			}

			.city-selector{
				display: inline-block;

				.dropdown-menu{
					max-width: 30vw;

					& > a > span.text{
						font-size: 16px;
					}
				}
			}

			.userActions{
				width: auto;
				position: relative;
				font-size: 14px;
			}

			.dropdown-menu  > a{
				min-height: 20px;

				& > .button{
					margin:0;
					max-width: 80px;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}
	}

	a{
		color: #fff;
	}
}

@keyframes loading {
	from {left: -200px; width: 30%;}
	50% {width: 30%;}
	70% {width: 70%;}
	80% { left: 50%;}
	95% {left: 120%;}
	to {left: 100%;}
}

body{
	& > .loading-bar{
		height: 4px;
		width: 100%;
		overflow: hidden;

		position: fixed;
		top:0px;
		z-index: 100000;

		&.show{
			background-color: transparent;

			&:before{
				display: block;
				position: absolute;
				content: "";
				left: -200px;
				width: 200px;
				height: 4px;
				background-color: #05737d;
				animation: loading 2s linear infinite;
			}
		}
	}

	& > main{
		width: 100%;
		max-width: 1024px;
		margin: 30px auto 20px;

		display: block;

		h2, h4{	
			font-weight:100;
			display: flex;
			align-items:center;
			
			&.error{
				color: #c51717;
			}

			& > a.button, & > .right{
				margin-left: auto;
			}
		}

		.subnav{
			margin: 10px 0;

			a{
				margin-right: 10px;

				&.active{
					font-weight: bold;
				}
			}
		}

		ul.list{
			margin: 10px 0;

			& > li{
				margin-bottom: 6px;
			}
		}

		&.search{
			margin-top: 17px;

			h2{
				margin-bottom: 10px;

				.filters{
					& > *{
						margin-right: 7px;
					}

					.datehour{
						width: 95px;
						position: relative;
						display: inline-block;
						margin-right: 0px;
						height: 16px;
						
						input{
							position: absolute;
							top: 0px;
							left: 0px;
							width: 73px;
							height: 15px;
							cursor: pointer;
							opacity: 0;
							margin:0;
						}

						span{
							font-size: 12px;
							color: #000;
							font-weight: normal;
						}

						&:hover{
							opacity: 0.8;
						}
					}

					.select-wrapper{
						@extend .button, .button.white;
						border:none;
						padding: 0;

						select{
							font-size: 12px;
							padding: 12px;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

a{
	text-decoration: none;
	color: $primaryColor;
	cursor: pointer;
	
	&:hover{
		opacity: 0.85;
	};
}

label{
	font-size: 14px;
}

.dropdown-menu{
	display: inline-block;
	position: relative;

	&:focus{
		outline: none;
	}

	& > a {
		min-height: 30px;
		display: flex;
		align-items: center;

		& > span.text{
			margin-top: 1px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		& > i.la-caret-down{
			margin: 0 2px;
			font-size: 16px;
		}
	}

	& > ul{
		z-index: 1000;
		position: absolute;
		margin: 5px 0;
		padding: 4px 0;

		outline: 0;
		list-style-type: none;
		right: -5px;

		&.with-filter{
			min-width: 12vw;
		}
		
		& > li:first-child{
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;

			border-top: 1px solid #ddd;
		}

		& > li{
			background-color: #fff;

			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #eee;

			&.search{
				input{
					width: 100%;
					margin:0;
					border: 0.5px solid #f2f2f2;
					border-radius: 0;
				}

				&:hover, &:focus{
					background-color: none;
				}
			}

			a{
				color:#000;
				min-width: 120px;
				display: block;
				font-size: 14px;
				padding:15px 10px;
			}

			&:hover, &:focus{
				background-color: #f2f2f2;
			}
		}	

		& > li:last-child{
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;

			border-bottom: 1px solid #ddd;
		}
	}
}

@media screen and (max-width: 1024px){
	.center{
		max-width: 85%;
	}

	body{
		& > main{
			max-width: 85%;
		}
	}
}

@media screen and (max-width: 670px){
	.no-mobile, .hide-mobile{
		display: none !important;
	}

	.no-desktop, .show-mobile{
		display: initial !important;
	}

	.center{
		max-width: 100%;
	}

	body{
		overflow-x:hidden;

		.center {
			margin: 0 5%;
		}

		& > main{
			width: auto;
			max-width: 100%;
			display: block;
			padding: 0 5%;
			margin: 25px auto 20px;

			h2, h4{
				display: block;
			}
		}
	}
}