.loading-page {

	& > main{

		.spinner{
			margin: 5vh auto;
		}

		#citySelector{
			display: none;
			padding: 5vh 0;
			position: relative;

			h2{
				font-size: 2em;
				font-weight: 100;
			}

			p{
				margin: 10px 0 25px;
				color: #777
			}

			.card-grid{
				margin: 30px 0 10px;
			}

			span.info{
				display: block;
				font-size: 12px
			}
		}
	}
}