.center
	.search-bar(class="{{showNav ? 'hide-mobile' : ''}}")
	.links(tabindex="-1", class="{{showNav ? 'show-mobile' : ''}}")
		ul.center
			-
				var menu = [
					{route: "/discover", name: "Descubrir"}, 
					{route: "/me/reserves", name: "Reservas"}
				];
		
			each item in menu
				a(
					(click)= "showNav = false",
					[routerLink]=`["${item.route}"]`,
					[routerLinkActive]='["active"]'
				)
					li= item.name
			a.manager.no-mobile(href="/manager", target="_blank")
				li Administrador
	a((click)="showNav = !showNav").menu: i.la(class="{{showNav ? 'la-close' : 'la-navicon'}}")