:host{
	&.sticky{
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 10000;

		padding: 6px 0;
		border-top: 5px solid #142635;
	}

	background-color: #F7F7F7;
	border-bottom: 1px solid #ddd;

	padding: 10px 0;

	.center{
		display: flex;
		align-items: center;
		position: relative;

		.links{
			position: absolute;
			right: 0;
			bottom: 0;
			top: 0;

			display: flex;
			align-items:center;

			padding: 0;
			font-size: 18px;
			outline:0;

			ul{
				display: flex;
				list-style-type: none;
				padding:0px;
				margin:0;

				& > a{
					display: inline-block;
					padding: 12px 0;
					margin-left: 15px;

					color: #ABABAB;

					&.active{
						color: #1c7f8f;
					}

					&.manager{
						font-size: 12px;
						background-color: #ccc;
						padding: 6px;
						border-radius: 2px;
						color: #fff;
					}
				}
			}
		}

		a.menu{
			display: none;
			color: #142635;
		}
	}
}

@media screen and (max-width: 670px){
	:host {
		padding: 10px 0;
		height: 45px;

		.center {
			width: auto;
			margin: 0 5%;

			a.menu{
				position: absolute;
				right: 0;
				bottom: 0;
				top: 0;

				display: flex;
				align-items:center;
			}

			.search-bar{
				max-width: 100%;
				width: calc(100% - 40px);
				transition: none;

				input[type="search"]{
					opacity: 1 !important;
				}

				&.focus, &.active{
					width: 100%;
					margin-right: 0;
				}
			}


			.links{
				display: none;
				padding:0;
				width: calc(100% - 40px);
				height: 42px;
				overflow: hidden;
				position: relative;
				top: -7px;

				ul{
					overflow: auto;
					height: 60px;

					& > a{
						margin-right: 15px;
						margin-left: 0;
						padding: 14px 0;
					}
				}
			}
		}
	}
}