:host{  
	position: absolute;
	z-index: 10;
	opacity: 0;

	width: 100%;	
	max-height: 0px;
	
	margin-top: 5px;
	border-radius: 2px;

	overflow: auto;

	& > div{
		padding: 15px 25px;
		background-color: #fff;
		border: 1px solid #ccc;

		p{
			margin: 10px 0;
		}

		.search-explore{ 
			padding-top: 10px;

			.buttons{ 
				margin-bottom: 25px;
				overflow-x: auto;
				overflow-y: hidden;
				display: flex;

				& > a{
					margin-right: 7px;
				}
			}
		}

		ul.search-list{
			list-style-type: none;
			padding: 0px;
			margin: 0;


			li{
				margin: 0;
				padding: 10px;
				display: flex;
				align-items: center;
				cursor: pointer;
				
				&:hover{
					background-color: #e8fafb
				}

				& > i{
					font-size: 24px;
					margin-right: 5px;
				}

				& > span{
					font-size: 15px;
					margin-top: 1px
				}

				& > div{
					font-size: 10px;
					margin-left: 5px;
					align-self: flex-end;
					line-height: 20px;
				}

				& > a{
					margin-left: auto;

					i{
						font-size: 14px;
						color: #000
					}
				}
			}
			
			& > a {
				color: #000;
			}
		}
	}
}