.center
	a.logo([routerLink]='["/discover"]')
		img(src="assets/img/sm_icon.png")
		span.name Bary
	.right
		.city-selector

		ng-template(#action_nologged)
			a.button.small.userActions#login((click)="login()", title="Iniciar sesión / Registrarse")
				i.la.la-key
				= 'Acceder'

		ng-template(#action_logged)
			dropdown.userActions#usermenu([_label]="'%title%'", [options]="USER_MENU", [customHTML]="true" [(value)]="_menu_option" (onChange)="_menu_option.run()")
				.button.small.grey
					i.la.la-user
					= '{{name}}'
		template(*ngIf="User.isLogged(); then action_logged else action_nologged")