:host{
	position: relative;
	width:100%;
	max-height:320px;
	overflow: hidden;
	border-radius: 2px;
	margin-bottom: 10px;
	background-color: #dbd8d8;
	
	a.goto-left, a.goto-right{
		position: absolute;
		bottom: 50%;
		background: rgba(255,255,255,0.5);
		border-radius: 15px;
		display: flex;
		width: 30px;
		height: 30px;
		align-items: center;
		justify-content: center;

		i{
			font-size: 18px;
		}

		&:hover{
			opacity: 1;
			background: rgba(255,255,255,0.7);
		}
	}

	a.goto-left{
		left: 10px
	}

	a.goto-right{
		right: 10px
	}

	& > img{
		width:100%
	}
	
	& > .foot{
		position: absolute;
		bottom: 0px;
		width: calc(100% - 40px);
		background: rgba(0,0,0,0.5);
		padding: 5px 20px;

		& > p{
			color: #fff;
			font-size: 14px;
			max-height: 45px;
			overflow-y:auto;
		}
	}
}