h2{
	& > div {
		& > font{
			max-width: 500px;
		}	

		& > i.la-plane{
			position: relative;
			top: -8px;
			margin-left: 5px;
			font-size: 16px;
			color: #fff;
			padding: 2px;
			background-color: #142635;
			border-radius: 10px
		}

		& > .stars {
			margin-top: -0px;
			margin-bottom: 10px;
			font-size: 14px;

			i {
				font-size: 16px;
				color: #1C7F8F;
			}

			.type{
				color: #ccc;

				b{
					color: #838383;
					font-weight: 100;
				}
			}
		}
	}

	& > .right{
		& > .button{
			margin-right: 5px;

			&.fav i{
				color: red
			}
		}
	}
}

.columns{
	grid-template-columns: 1fr 270px;
}

.details {
	padding: 0;
	list-style-type: none;
	margin: 0;

	li {
		display: flex;
		align-items: center;
		margin: 5px 0;

		& > i {
			font-size: 21px;
		}

		& > div{
			margin: 0 10px;

			h6 {
				margin: 5px 0;
			}

			font {
				color: #989696;
				font-weight: 100;
				font-size: 16px;

				span.city{
					color: #000;
					font-style: italic;
				}
			}
		}
	}

}

hr{
	margin: 20px 0 10px;
}

.about{
	padding: 10px 0;

	p{
		color: #989696;
		font-size: 16px;
		font-weight: 100;
		margin: 10px 0
	}

	.tags{
		margin-top: 15px;
		padding-bottom: 15px;
		overflow: auto;

		& > .tag{
			padding: 5px;
			font-size: 14px;
			background-color: #fff;
			margin: 0 8px 0px 0;
			display: inline;
			white-space: nowrap;
		}
	}
}

.menu{
	margin-bottom: 25px;

	h2{
		font-weight: 100;
		color: #a2a2a2;
		font-size: 18px;
	}

	hr{
		margin: 0px 0px 15px
	}
}

@media screen and (max-width:670px){
	.columns{
		grid-template-columns: 100% !important;
	}

	aside.sticky {
		width: inherit !important;
	}

	.info{
		width: auto !important;
	}

	h2{
		& > div {
			& > font{
				max-width: calc(100% - 25px) !important;
			}
		}
	}
}

@media screen and (min-width: 670px){
	aside.sticky {
		position: fixed;
		width: 270px;
		top: 85px;
		right: calc((100vw - 1024px) / 2);
	}
}

@media screen and (max-width: 1024px){
	.columns{
		grid-gap:20px;
	}
	
	h2 > font{
		max-width: 300px;
	}

	aside.sticky {
		width: 225px;
		right: calc(15% / 2);
	}

	.columns{
		grid-template-columns: 1fr 225px;
	}

	.info{
		width: initial;
		overflow: hidden;
	}

	h2{
		& > div {
			& > font{
				max-width: 250px;
			}
		}
	}
}