form.form(#userForm="ngForm" (ngSubmit)="save(userForm.form)")
	.fields
		label.form-field
			|Nombre:
			input(type='text', name='name', [ngModel]="data.name", required)
		label.form-field
			|Apellidos:
			input(type='text', name='surname', [ngModel]="data.surname", required)
		label.form-field
			|DNI:
			input(type='text', name='dni', [ngModel]="data.dni")
			.msg.error(*ngIf="serverErrors.dni")
				|{{serverErrors.dni[0]}}
		label.form-field
			.layer((dblclick)="goToAccountSettings()", title="Modificar desde 'cuenta'")
			|Email:
			input(type='email', name="email", [ngModel]="data.email", disabled)
		label.form-field
			|Sexo:
			.select-wrapper
				select(name="genre", [ngModel]="data.genre")
					option(value="M") Hombre
					option(value="F") Mujer
		label.form-field
			|Teléfono:
			input(type='text', name='phone', [ngModel]="data.phone", number)
			.msg.error(*ngIf="serverErrors.phone")
				|{{serverErrors.phone[0]}}
	.foot
		button.button(type="submit", [disabled]="userForm.form.status == 'INVALID'") Guardar