h2 Restaurantes favoritos
div.card-list(
		infiniteScroll, [infiniteScrollDistance]="2",
        [infiniteScrollThrottle]="50",
        (scrolled)="onResultsScroll()"
        )
	a(*ngFor="let restaurant of favourites.data", [routerLink]='["/restaurant/"+restaurant.id]')
		div.card
			.card-thumbnail([class.image-exists]="restaurant.image", [ngStyle]="{'background-image': (restaurant.image) ? 'url('+restaurant.image.thumb+')': 'none'}")
			.card-content
				h3.title.ellipsis.color {{restaurant.name}}
				font.ellipsis.small {{restaurant.address}}
				.card-stars-foot
					.stars
						i.la.la-star(*ngFor="let i of restaurant.rate | fill")
						i.la.la-star-half-o(*ngIf="restaurant.rate%1*10 > 0")
						i.la.la-star-o(*ngFor="let i of 5-restaurant.rate | fill")
					font.small.ellipsis {{restaurant.type}}
			.card-actions
				font((click)="unfav($event, restaurant)")
					i.la.la-heart
p.none-found(*ngIf="!favourites || favourites.length == 0") No hay restaurantes favoritos...