h2{
	margin-bottom: 15px
}

.none-found{
	display: block;
	text-align: center;
	border: 2px solid #ddd;
	padding: 30px;
	border-radius: 2px;
	font-size: 14px;
	color: #4b5d5f;
	max-width: 605px;
}

.card-list .card .card-thumbnail {
	width: 180px;
}

.card-actions{
	width: 80px;
	overflow: hidden;
	padding: 10px;
	text-align: right;

	font{
		color: red;
		
		i{
			font-size: 20px;

			&:hover:before{
				content: "\f234" !important;
			}
		}
	}
}

@media screen and (max-width: 670px) {
	.card-list .card .card-content {
		width: calc(100% - 155px);
	}
}