.banner#confirmEmail{
	background-color: #e5efb6;
	padding: 10px 0;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 670px){
	.banner#confirmEmail{
		.center{
			width: auto;
		}
	}
}