.button.white.datehour
	span(*ngIf="!_reserve.date; else date_value") Fecha y hora
	ng-template(#date_value)
		span {{ _reserve.date | date: 'dd/MM/yyyy HH:mm' }}
	input.date(type="text", [owlDateTimeTrigger]="dt5", [owlDateTime]="dt5", [(ngModel)]="_reserve.date", [min]="min_date", [max]="max_date",(dateTimeChange)="emit()", readonly)
owl-date-time([pickerMode]="'dialog'", [stepMinute]="30", [firstDayOfWeek]="1", #dt5)
div.select-wrapper
	- var n = 0;
	select([(ngModel)]="_reserve.pers", (change)="emit()")
		option(value="0", selected) Personas
		while n < 10
			- n++
			option(value=n)=n+' pers.'