form{
	label{
		margin: 10px 0;
		font-size: 14px;
		color: #777;

		input{
			display: block;
			margin-top: 5px;
			width: calc(100% - 25px);
		}
	}

	div.foot{
		justify-content:flex-end;

		& > :last-child{
			margin-left: 10px;
		}
	}
}