include ../modal.component.pug

+modal('Iniciar sesión', true)
	div.msg.error([hidden]="error === null") {{error}}
	form.form(#loginForm="ngForm" (ngSubmit)="login(loginForm)", [class.error] = "error")
		input(type='email', placeholder='Email', name='email', required, email, ngModel)
		input(type='password', placeholder='Contraseña', name='password', required="required", ngModel)
		div.foot
			a((click)="goToModal('recoverModal')") Recuperar contraseña
			button(type="submit", class="button large", [ngClass]='{loading: loading}') Login
	.line-divisor
		a((click)="goToModal('signupModal')") o registrarse