ng-template(#search_loaded)
	label(for="search")
		i.la.la-search

ng-template(#search_spinner)
	label(for="search")
		div.spinner

template(*ngIf="!loaded && search && isFocus; then search_spinner else search_loaded")

div.right
	a.calendar-search((click)="goSearch()"): i.la.la-calendar-check-o
	a.reset-search(*ngIf="search", (click)="search=\"\""): i.la.la-close
input(
	(focus)="add_focus(true)",
	(keyup.enter)="goSearch()",
	type="search",
	placeholder="Buscar restaurante, localidad ...",
	id="search",
	[(ngModel)]="search"
	)
.results([text]="search", (isLoaded)="updateLoaded($event)", (textEmitter)="updateSearch($event)")