:host{
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 10;

	max-width: 315px;

	&.focus{
		.results{
			opacity:1;
			max-height: 40vh;

			& > div{
				min-height: 15vh;
			}
		}

		input[type="search"]{
			opacity: 1;
			padding-right: 55px;
			border-color: #b7b7b7;
		}
	}


	label{
		position: absolute;
		z-index: 1;
		color: #777;
		top: 0px;
		left: 0;
		width: 44px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;

		i{
			font-size: 20px
		}

		.spinner{
			border: 3px solid #d4d4d4;
			border-top-width: 3px;
			border-top: 3px solid #555;
			width: 10px;
			height: 10px;
		}
	}

	input[type="search"]{
		font-size: 16px;
		display: inline-block;

		padding: 10px 33px 10px 38px;
		border: 1px solid #c8d0db;

		margin: 0;
		width: 100%;

		&::-webkit-search-cancel-button{
			display:none
		}
	}

	.right{
		position: absolute;
		z-index: 10;
		right: 10px;
		top: 10px;
		display: flex;
		align-items:flex-end;

		.calendar-search{
			color: #0d939e;

			i{
				font-size: 20px;
			}
		}

		.reset-search {
			margin-left: 5px;

			i{
				color: #777676 !important;
				font-size: 16px;
			}
			top: -1px;
			position: relative;
		}
	}
}