h5 Valoraciones y reseñas
div([ngSwitch]="template_num")
	div.summary(*ngSwitchCase="1")
		div.rate
			div.number 
				span.rating {{rate | number : '1.1-1' }}
				span.total de 5
			div.bystars
				div(*ngFor="let n of 5 | fill")
					div.stars
						i.la.la-star(*ngFor="let i of 6-n | fill")
					div.meter
						div([style.width]="(reviews.count.stars[6-n]/reviews.count.total)*100+'%'")
					font.count.no-mobile {{reviews.count.stars[6-n]}}
		.user-rate(*ngIf="allow_review")
			|Pulse para valorar:
			.stars-ipt([rate]="(reviews.me && reviews.me.rate) ? reviews.me.rate : 0", (onChange)="rate_review($event)")
		.recent-reviews.card-overflow(*ngIf="reviews.recents.length > 0 || (reviews.me && reviews.me.title)")
			.card(*ngIf="reviews.me && reviews.me.title")
				.card-content
					.right
						a((click)="edit_review()")
							i.la.la-pencil
					h4.title.ellipsis {{reviews.me.title}}
					.stars
						i.la.la-star(*ngFor="let i of reviews.me.rate | fill")
						i.la.la-star-o(*ngFor="let i of 5-reviews.me.rate | fill")
					p {{reviews.me.description}}
					.foot
						span.date {{reviews.me.date}} 
						span.user {{reviews.me.user.name}} {{reviews.me.user.surname}}
			.card(*ngFor="let review of reviews.recents")
				.card-content
					h4.title.ellipsis {{review.title}}
					.stars
						i.la.la-star(*ngFor="let i of review.rate | fill")
						i.la.la-star-o(*ngFor="let i of 5-review.rate | fill")
					p {{review.description}}
					.foot
						span.date {{review.date}} 
						span.user {{review.user.name}} {{review.user.surname}}
	div.write(*ngSwitchCase="2")
		a((click)="goSummary()")
			i.la.la-angle-left
			|Volver
		div.form
			.form-field
				label
					|Valoración
					.stars-ipt([rate]="tmp_review.rate", (onChange)="change_tmp_rate_review($event)", style="display:block")
			.form-field
				label
					|Titulo
					input(type="text", [(ngModel)]="tmp_review.title", [class.error]="tmp_review.description && tmp_review.description.trim() != '' && (!tmp_review.title || tmp_review.title.trim() == '')" placeholder="Titulo")
			.form-field
				label
					|Descripción
					textarea([(ngModel)]="tmp_review.description", [class.error]="tmp_review.title && tmp_review.title.trim() != '' && (!tmp_review.description || tmp_review.description.trim() == '')", placeholder="Descripción")
			.foot
				button.button.small((click)="save_review()", [disabled]="saving_review") Guardar
