:host{
	& > div{
		//min-height: 350px
	}
}

.rate{
	display: flex;
	border-bottom: 1px solid #dbdbdb;
	padding: 5px 0 15px;
	margin: 0 0 10px;

	.number {
		margin: 10px 0 5px;
		text-align: center;

		span.rating {
			font-size: 50px;
			display: block;
		}

		span.total{
			color: #777
		}
	}

	.bystars {
		margin: 0 0 0 20px;
		width: 100%;
		position: relative;

		& > div{
			display: flex;
			align-items:center;

			.stars{
				width: 60px;
				margin-right: 10px;
				text-align: right;

				i{
					font-size: 12px;
					color: #888
				}
			}

			.meter{
				background-color: #ddd;
				max-width: 200px;
				width: calc(100% - 70px);
				height: 8px;
				position: relative;
				border-radius: 4px;

				& > div{
					position: absolute;
					left: 0px;
					top: 0px;
					height: 100%;
					background-color: #888;
					border-radius: 5px;
				}
			}

			.count{
				font-size: 10px;
				font-weight: 100;
				color: #888;
				margin-left: 5px
			}
		}
	}
}

.user-rate{
	margin: 10px 0;
	font-size: 16px;
	font-weight: 100;
	color: #777;

	display: flex;
	align-items:center;
	max-width: 375px;

	.stars-ipt{
		margin-left: auto;
	}
}

.recent-reviews{
	padding-top: 10px;
	flex-flow: column wrap;
	height: 160px;
	align-content: left;

	.card{
		width: 365px;
		height: 100%;
		margin-right: 10px;
		position: relative;

		.right{
			position: absolute;
			right: 10px;
			top: 15px;

			a{
				color: #666;

				i{
					font-size: 18px
				}
			}
		}

		h4{
			margin: 0;
			font-weight: bold;
			font-size: 16px;
			display: block;
		}

		.stars{
			margin-bottom: 5px;

			i{
				color: orange
			}
		}

		p{
			font-weight: 100;
			color: #777;
			font-size: 14px;
			margin-bottom: 10px;
			word-break:break-all;
			overflow: auto;
			max-height: 55px;
		}

		.foot {
			font-weight: normal;
			color: #000;
			font-size: 12px;
		}
	}
}

.write{
	& > a {
		text-transform: uppercase;
		color: #777;
		margin-top: 10px;
		font-size: 16px;
		display: flex;
		align-items: center;

		i{
			font-size: 16px
		}
	}

	.form{
		max-width: 320px;
		margin-top: 10px;

		.form-field{
			margin-bottom: 5px;
		}
	}
}

@media screen and (max-width: 1024px){
	.rate{
		.bystars {
			& > div{
				justify-content: flex-end;

				.count{
					display: none
				}
			}
		}
	}

	.user-rate{
		max-width: 100%;
	}

	.recent-reviews{
		.card{
			width: calc(100% - 20px);
		}
	}

	.write{
		.form{
			max-width: 100%
		}
	}
}